# Managed by Ansible
# Just a test you really can delete this if you want
# but are you sure you want to?
Here are some vars
VARS:

This host is: {{ ansible_host }}

Linux group packages: {{ group_packages }}


