Submit the CSR via cut and paste to:
https://cvyhj3x21v.oai.olympusglobal.com/certsrv/certrqxt.asp

# 
For Certificate Template: Pick Web Server Certificate

For SAN certs make sure to include "Additional Attributes"
####
{% if '' != SAN_names_input %}
SAN:{% for SAN_name in SAN_name %}DNS={{ SAN_name }}&{% endfor %}
{% endif %}

remove the final & off of this string before submitting
# 
Email body:
###
A CSR has been submitted for {{ CN_name }} to the Active Directory Certificate Services Server under the Request ID Number <req number>.  Please reply when certificate is generated.
