# Managed by Ansible
# Local changes will be overwritten
# Dest: /etc/sssd/sssd.conf
# Owner/Perm: root:root 0600
# 
[sssd]
domains = OAI.OLYMPUSGLOBAL.COM
config_file_version = 2
services = nss, pam
default_domain_suffix = OAI.OLYMPUSGLOBAL.COM

[domain/OAI.OLYMPUSGLOBAL.COM]
ad_domain = OAI.OLYMPUSGLOBAL.COM
krb5_realm = OAI.OLYMPUSGLOBAL.COM
realmd_tags = manages-system joined-with-samba
cache_credentials = True
id_provider = ad
krb5_store_password_if_offline = True
krb5_renewable_lifetime = 7d
krb5_renew_interval = 30m
default_shell = /bin/bash
ldap_id_mapping = True
use_fully_qualified_names = True
fallback_homedir = /home/%u@%d
access_provider = simple
krb5_map_user = ggriffiniv:adm_goodmg
simple_allow_groups = ITS-RSAToken
